<main class="form-signin w-100 m-auto">
    <form [formGroup]="registerForm">
        <img class="mb-1" src="\assets\img\logo.png" alt="Logo" width="152">
        <h2 class="h2 mb-2 fw-normal">EtecBook</h2>
        <h5 class="mb-3 fw-normal"> Crie Sua Conta </h5>

        <div class="form-floating mb-2">
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nome"
            [class.is-invalid]="checkName()">
            <label for="name"><i class='bx bxs-user'></i> Nome </label>
            <span *ngIf="checkName()" class="text-danger text-start d-block mt-1">*Campo Obrigatorio</span>
        </div>

        <div class="form-floating mb-2">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email"
            [class.is-invalid]="checkEmail() || checkEmailValid()">
            <label for="email"><i class='bx bxs-envelope'></i> Email</label>
            <span *ngIf="checkEmail()" class="text-danger text-start d-block mt-1">*Campo Obrigatorio</span>
            <span *ngIf="checkEmailValid()" class="text-danger text-start d-block mt-1">*Digite um Email VAlido</span>
        </div>

        <div class="form-floating">
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Senha" [class.is-invalid]="checkPassword() || checkPasswordLength()">
            <label for="password"><i class='bx bxs-lock-alt'></i> Senha</label>
            <span *ngIf="checkPassword()" class="text-danger text-start d-block mt-1">*Campo Obrigatorio</span>
            <span *ngIf="checkPasswordLength()" class="text-danger text-start d-block mt-1">*Digite pelo menos 6 caracteres</span>
        </div>

        <button (click)="onSubmit()" class="w-100 btn btn-lg btn-primary my-3" type="submit">Criar Conta</button>
        <div class="borderText"></div>
        <a routerlink="/login" class="w-100 btn btn-lg btn-success">Entrar ?</a>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
    </form>
</main>
